.axis {
  fill: grey;
}
.axis path {
  display: none;
}
.axis line {
  shape-rendering: crispEdges;
  /*stroke: #000;*/
  stroke: grey;
}
.axis .minor line {
  /*stroke: #777;*/
  stroke: grey;
  stroke-dasharray: 2,2;
}
