table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
  background-color: rgba(70, 70, 70, 1);
  border-radius: 0.5em;
}
td:nth-child(odd){
  color: grey;
}
